@import "https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed|IBM+Plex+Sans:400,600&display=swap";

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #eaeaea !important;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    /*overflow-x: hidden;*/   
    font-family: 'IBM Plex Sans','Helvetica Neue',Arial,sans-serif;    
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.navbar {
    background-color: #161616;
    border-bottom: 1px solid #393939;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.sub {
    margin-left: 10px;
}

.main-nav {
    background-color: #3b3b3b;
    margin-bottom: 5px;
}

/* header top section start */

.header_section_top {
    width: 100%;
    float: left;
    background-color: #2b2a29;
    height: auto;
    padding: 10px 0px;
}

.custom_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.custom_menu ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.custom_menu li {
    float: left;
    font-size: 16px;
    color: #f1f1f1;
    padding: 6px 10px 0px 10px;
}

.custom_menu li a {
    color: #f1f1f1;
}

.custom_menu li a:hover {
    color: #f26522;
}


/* header top section end */


/* logo section start */

.logo_section {
    width: 100%;
    float: left;
}


/* logo section end */


/* header section start */

.header_section {
    width: 100%;
    display: flex;
}

.containt_main {
    display: flex;
}

.urban-container .d-inline {
    float: left;
}

.bg-o {
    background: rgb(247,251,252); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(247,251,252,1) 0%, rgba(217,237,242,1) 40%, rgba(173,217,228,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.bg-s{
    background: -moz-linear-gradient(left,  rgba(214,252,247,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(214,252,247,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(214,252,247,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6fcf7', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.bg-h{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #fefcea 91%, #fefcea 91%, #f1da36 91%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#fefcea 91%,#fefcea 91%,#f1da36 91%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#fefcea 91%,#fefcea 91%,#f1da36 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */                        
}

.bg-c {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #fefcea 91%, #fefcea 91%, #fc3d3a 91%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#fefcea 91%,#fefcea 91%,#fc3d3a 91%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#fefcea 91%,#fefcea 91%,#fc3d3a 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fc3d3a',GradientType=0 ); /* IE6-9 */
}

.count h5 {
    color: #000;
    margin-bottom: 0;
}

.count {    
    text-align: center;
    color: #000;
    padding: 10px;
}

.count-b, .dco-link {    
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 12px;
}

.dco-link h5 {
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    font-size: 14px;
}

table.live-status {
    font-size: 14px;
    font-weight: 500;
    text-align:center;
    width: 100%;  
}

table.status {
    font-size: 14px;
    font-weight: 400;
    text-align:center; 
    margin-bottom:0;
}

table.status tbody>tr>td {
    width: 50%;    
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.live-status tbody>tr>td {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*.box{
    padding: 0 .125rem .125rem 0;
    cursor: pointer;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}
*/
.box .card {
    background: #e0f3fa; /* Old browsers */
    background: -moz-linear-gradient(top,  #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */
}

.box .card:hover {
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

.count-b h5 {
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    font-size: 16px;
}

.text-link {
    color: blue;
    font-size: 12px;
}

.col.box {
    padding:0 .125rem .125rem 0;
}

/* opennav bar start */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212529;
    /*opacity: .9;*/
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f26522;
}

a.sub-nav {    
    margin-left: 20px;
}

.sub-nav {
    background-color: #2e2e2e;
    margin-bottom: 5px;
}

a.sub:hover {
    background-color: #04273E;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.toggle_icon {
    cursor: pointer;
    color: #ffffff;
    order: 2;
}

.header_box {
    order: 2;
    display: flex;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    order: 2;
}

.btn-secondary {
    color: #fff;
    background-color: #30302e;
    border-color: #30302e;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #30302e;
    border-color: #30302e;
}

.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}


/* opennav bar end */


/* Styles for wrapping the search box start */

.main {
    flex: 1;
    margin: 0px 30px;
    display: inline-block;
    order: 2;
}


/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.pull-right {
    float: right;
}

.pull-right iframe{
    width: 200px;
    height: 30px;
}

/* Styles for wrapping the search box end */

.login_menu {
    display: flex;
    text-align: right;
    float: right;
}

.login_menu ul {
    margin: 0px;
    padding: 0px;
}

.login_menu li {
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: 4px;
}

.login_menu li a {
    color: #ffffff;
}

.login_menu li a:hover {
    color: #f26522;
}


/* flage css start */

.lang_box {
    display: flex;
    float: right;
    background: #fff;
    border-radius: 5px;
    margin-right: 20px;
}

.nav-link {
    display: block;
    padding: .4rem 1rem;
}

a:hover {
    color: #f26522;
    text-decoration: underline;
}


/* loader bar css start */

.loader_main {
    width: 100%;
    text-align: center;
    margin-top: 140px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #414744;
    border-right: 16px solid #f26522;
    border-bottom: 16px solid #414744;
    border-left: 16px solid #f26522;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 6s linear infinite;
    margin: 0 auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo img,
.logo .caption {
  display: inline;
}

.logo img {
  height: 12px;
  width: auto;
  /*margin-top: -7px;*/
}

.caption {
  font-size: 12px;
  color: white;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

.navbar-toggler {
  font-size: 1rem;
}

.navbar-dark .navbar-toggler {
  border: 1px solid #343a40 !important
}

.navbar-nav {
  flex-direction: row !important;
}

.nav-item {
  padding: 0 20px;
}

.cover-box {
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}

.title {
  font-size: 12px;
  color: black;
  font-weight: 700;
}

.detail {
  font-size: 10px;
  color: rgb(58, 58, 58);
  font-weight: 400;
}

.task .box {
  background-color: #FFF;
  padding: 20px;
  border: 1px solid #eeeeee;
}

.platform .box {
  padding: 20px;
  border: 1px solid #eeeeee;
}

.hero-section {
    background-image: url('../assets/operations-console.png');
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    min-height: 12rem;
    width: 100%;
    margin-bottom: 2rem;
    padding: 5rem 0 1rem 0;
    display: flex;
}

.hero-section h4 {
    color: #fff;
}

.hero-section .title {
    color: rgb(29, 135, 255);
}

.sunrise {
    background-image: url('../assets/operations-console.png');
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    min-height: 1rem;
    width: 100%;
    display: flex;
}
.sunrise-report iframe {
    width: 1920px;
    height: 900px;
}

.nav-link {
    background-color: #8fc4f0;
}

.top-banner {
    background-color: rgb(0, 128, 202);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    min-height: 3rem;
    width: 100%;
    display: flex;
}

.tab-section {
    margin-top: -40px;
}

#nav-tabContent iframe, .content-section iframe {
    width: 100%;
    height: 800px;
    border: 0;
}

.nav-tabs .nav-link {
    margin: 0 3px;
}

.banner-txt p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0;
    color: #FFF;
    margin: 0;
}

.banner-txt h2 {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0;
    margin-bottom: 0;
}

.banner-txt h3 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: 0;
}

.card {
    border: 1px solid rgba(0,0,0,0.25) !important;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    min-height: 400px;
}

.card:hover {
    -webkit-box-shadow: 11px 14px 18px -14px rgba(0,0,0,0.65);
-moz-box-shadow: 11px 14px 18px -14px rgba(0,0,0,0.65);
box-shadow: 11px 14px 18px -14px rgba(0,0,0,0.65);
   /* box-shadow: 0 1px 9px 3px rgb(0 0 0 / 14%);*/
}

.incidents .card {
    min-height: 50px;
}

.br-r {
    border-right: 1px solid #eaeaea;
}

.br-b {
    border-bottom: 1px solid #eaeaea;
}

.p-0 {
    padding: 0;
}


.ml-0 {
    margin-left: 0 !important;
}

#main li {
    display: inline-block;
}


